<div id="<%= dom_id(task) %>" class="<%= task.running ? 'bg-white/50' : 'bg-blue/50' %> backdrop-filter backdrop-blur-sm border outline-[#0] rounded-lg p-3 mb-2 transition-all duration-200 relative overflow-hidden">
  <% if task.color.present? %>
    <div class="absolute top-0 right-0 w-9 h-9 transform translate-x-5 -translate-y-5 rotate-45" style="background-color: <%= task.color %>; opacity: 0.8;"></div>
  <% end %>
  <%= form_with(model: task, local: true, class: "w-full", data: { turbo_stream: true }) do |form| %>
    <div class="flex flex-col">
      <div class="flex items-center justify-between mb-1">
        <div class="flex items-center">
          <h3 class="font-medium text-gray-800 mr-2">Name</h3>
          <%= form.text_field :name, class: "border rounded px-2 py-1 text-sm" %>
        </div>
        <div class="flex items-center">
          <%= form.color_field :color, value: task.color, class: "border rounded px-2 py-1 text-sm" %>
        </div>
      </div>
      
      <div class="flex items-center justify-between text-sm">
        <div class="flex space-x-4">
          <div>
            <span class="text-gray-500">Time spent:</span>
            <div class="flex items-center space-x-1">
              <%= form.number_field :hours, min: 0, value: (task.time_spent / 3600).floor, class: "w-16 border rounded px-2 py-1 text-sm" %>
              <span>h</span>
              <%= form.number_field :minutes, min: 0, max: 59, value: (task.time_spent % 3600 / 60).floor, class: "w-16 border rounded px-2 py-1 text-sm" %>
              <span>m</span>
            </div>
          </div>
        </div>
        
        <div class="flex space-x-1 justify-center pt-5">
            <%= link_to task_path(task), class: "bg-gray-200 hover:bg-gray-300 text-gray-700 px-3 py-1 rounded text-sm hover:shadow-md transition duration-300", data: { turbo_stream: true } do %>
              <%= render "shared/svg/back" %>
            <% end %>
            <%= link_to complete_task_path(task), method: :patch, class: "bg-blue-100 hover:bg-blue-300 text-blue-700 px-3 py-1 rounded text-sm hover:shadow-md transition duration-300", data: { "turbo_method": :patch } do %>
              <%= render 'shared/svg/archive' %>
            <% end %> 
            <%= link_to task_path(task), method: :delete, class: "bg-red-100 hover:bg-red-300 text-red-700 px-3 py-1 rounded text-sm hover:shadow-md transition duration-300",  data: { "turbo-method": :delete } do %>
              <%= render 'shared/svg/delete' %>
            <% end %>
            <button type="submit" class="bg-blue-100 hover:bg-blue-300 text-white px-3 py-1 rounded text-sm">
              <%= render 'shared/svg/save' %>
            </button>
        </div>
      </div>
    </div>
  <% end %>
</div>

