<%= turbo_stream.replace "task_#{@task.id}_user_#{@task.user_id}" do %>
  <div class="flex items-center" id="task_<%= @task.id %>_user_<%= @task.user_id %>">
    <%= form_with(model: @task, local: true, class: "w-full", data: { turbo_stream: true }) do |form| %>
      <div class="flex items-center">
        <%= form.text_field :name, class: "border border-black focus:border-gray-300 rounded px-2 py-1 text-sm bg-transparent cursor-text" %>
      </div>
    <% end %>
  </div>
<% end %> 