<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Dashboard" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if content_for?(:skip_header) %>
      <%= yield :skip_header %>
    <% else %>
    <nav class="bg-white shadow sticky top-0 left-0 w-full p-4 flex justify-between items-center z-100"> 
      <div>
        <a href="/" class="text-2xl font-bold text-indigo-600 hover:text-indigo-500">Dashboard</a>
      </div>
      <% if user_signed_in? %>
        <div>
          <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }, class: 'text-red-500 hover:text-red-700' %>
        </div>
      <% end %>
    </nav> 

    <% end %>
    
    <main class="flex-grow">
      <div class="mx-auto">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
